<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  {%- if metadata is defined -%}

  {%- for key, value in metadata | items %}
  {% if value is string -%}
  <meta name="{{key}}" content="{{value}}" />
  {%- elif value is iterable -%}
  <meta name="{{key}}" content="{{value | join(', ')}}" />
  {%- else -%}
  <meta name="{{key}}" content="{{value}}" />
  {%- endif -%}
  {%- endfor %}

  <title>{{metadata["title"]}}</title>
  {% endif %}

  <link rel="stylesheet" type="text/css" href='{{url("code.css")}}'>
  <link rel="stylesheet" type="text/css" href='{{url("main.css")}}'>

  <link rel="apple-touch-icon" sizes="180x180" href="{{url('apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url('favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url('favicon-16x16.png')}}">
  <link rel="manifest" href="{{url('manifest.json')}}">
  <link rel="mask-icon" href="{{url('safari-pinned-tab.svg')}}" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <nav class="nav-bar">
    <img src="{{url('nav-bar-icon.png')}}">
    <p>Joe McGrath</p>
    <a href="{{url('index.html')}}">Home</a>
    <a href="{{url('blogs.html')}}">Blogs</a>
  </nav>

  <main>
    {% block body %} {% endblock %}
  </main>
</body>

</html>